services:
  pec:
    container_name: esus_${ESUS_VERSION_PATH}
    image: esus-pec:${ESUS_VERSION_TAG}
    volumes:
      - /home/esus-data/${ESUS_VERSION_PATH}/opt:/opt/e-SUS
      - /home/esus-data/${ESUS_VERSION_PATH}/backups:/backups
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
    build:
      context: .
      dockerfile: Dockerfile
      args:
        ESUS_DOWNLOAD_URL: ${ESUS_DOWNLOAD_URL}
    environment:
      - TZ=America/Recife
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=esus
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432
      - POSTGRES_DB=esus
    privileged: true
    stdin_open: true
    tty: true
    ports:
      - "8081:8080"
      - "8082:80"
      - "8083:443"
    depends_on:
      - db
  db:
    container_name: esus_db_${ESUS_VERSION_PATH}
    image: postgres:9.6-alpine
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=esus
      - POSTGRES_DB=esus
    ports: 
      - "5543:5432" 
    volumes:
      - /home/esus-data/${ESUS_VERSION_PATH}/db:/var/lib/postgresql/data