services:
  pec:
    container_name: esus_${ESUS_VERSION}
    platform: linux/amd64
    volumes:
      - /home/docker/esus-data-${ESUS_VERSION}/opt:/opt/e-SUS
      - /home/docker/esus-data-${ESUS_VERSION}/backups:/backups
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
    build:
      context: .
      dockerfile: Dockerfile
      args:
        POSTGRES_HOST: ${POSTGRES_HOST}
        POSTGRES_PORT: ${POSTGRES_PORT}
        POSTGRES_USER: ${POSTGRES_USER}
        POSTGRES_DB: ${POSTGRES_DB}
        POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
        ESUS_DOWNLOAD_URL: ${ESUS_DOWNLOAD_URL}
    environment:
      - TZ=America/Recife
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_HOST=${POSTGRES_HOST}
      - POSTGRES_PORT=${POSTGRES_PORT}
      - POSTGRES_DB=${POSTGRES_DB}
    privileged: true
    stdin_open: true
    tty: true
    ports:
      - "8081:8080"
      - "8082:80"
      - "8083:443"