services:
  pec:
    container_name: esus_${ESUS_VERSION}
    platform: linux/amd64
    volumes:
      - /home/docker/esus-data-${ESUS_VERSION}/opt:/opt/e-SUS
      - /home/docker/esus-data-${ESUS_VERSION}/backups:/backups
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
    build:
      context: .
      dockerfile: Dockerfile
      args:
        POSTGRES_HOST: db
        POSTGRES_PORT: 5432
        POSTGRES_USER: postgres
        POSTGRES_DB: esus
        POSTGRES_PASSWORD: esus
        ESUS_DOWNLOAD_URL: ${ESUS_DOWNLOAD_URL}
    environment:
      - TZ=America/Recife
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=esus
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432
      - POSTGRES_DB=esus
    privileged: true
    stdin_open: true
    tty: true
    ports:
      - "8081:8080"
      - "8082:80"
      - "8083:443"
    depends_on:
      - db
  db:
    container_name: esus_db_${ESUS_VERSION}
    image: postgres:9.6-alpine
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=esus
      - POSTGRES_DB=esus
    ports: 
      - "5543:5432" 
    volumes:
      - /home/docker/esus-data-${ESUS_VERSION}/db:/var/lib/postgresql/data